.header {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 100%;
}

.header__inner {
  @include display-flex();
  @include ai-flex-center();
}

.header__logo {
  display: block;
  width: 158px;
  position: relative;
  img {
    width: 100%;
  }
  @include respond-to(md){
    width: 255px;
  }
}

.header__inner--right {
  margin-left: auto;
  @include display-flex();
  @include ai-flex-center()
}

.header__btn{
  @include square(48px);
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid #fff;
  @include display-flex;
  @include ai-flex-center;
  @include jc-flex-center;
  margin-left: 7px;
  @include box-shadow();
  .icon{
    color: #fff;
    font-size: 1.2rem;
  }

  @include respond-to(md){
    @include square(32px);
    background-color: #fff;
    border: 2px solid $textColor;
    .icon{
      color: #fff;
    }
    .icon{
      font-size: 0.9rem;
      color: $textColor;
    }
  }
}

.header__book {
  font-size: 16px;
  margin-left: 7px;
  @include box-shadow();

  @include respond-to(md){
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

.header__hamburger {
  margin-left: 7px;
  border-radius: 100%;
  background-color: $blueColor;
  border: 2px solid #fff;
  padding-top: 2px;
  display: block;
  @include square(53px);
  @include transition-03;
  @include box-shadow();
  position: relative;

  .icon {
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include transition-03;

    &.is-hidden{
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }
  @include on-event() {
    @include hover-scale;
  }

  @include respond-to(md){
    @include square(63px);

    .icon{
      font-size: 1.5rem;
    }
  }
}
