.homepage__hero {
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  @include display-flex;
  @include ai-flex-center;
  @include respond-to(md) {
    min-height: 800px;
  }

  &--general {
    min-height: 0;
    max-height: 100vh;
  }
}

.homepage-hero {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      font-family: 'object-fit: cover;'; //polyfill
    }
  }

  &__content {
    margin: auto;
    max-width: 740px;
    h1 {
      color: #fff;
      font-size: 1.5rem;
      line-height: 1.55rem;
      font-weight: 800;
      text-align: center;
      @include center;
    }

    @include respond-to(md) {
      h1 {
        text-shadow: 1px 1px 4px $textColor;
        font-size: 2rem;
        line-height: 2.15rem;
      }
    }
    @include respond-to(lg) {
      h1 {
        font-size: 2.75rem; //55px;
        line-height: 2.9rem; //58px;
      }
    }
  }

  &__content-btn {
    text-align: center;
    margin-top: 40px;
    .btn {
      width: 190px;
      height: 61px;
      border-radius: $radius--lg;
    }
  }

  &__heading {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: $gap-mob 2 * $gap-mob;
    color: #fff;
    white-space: nowrap;
    background-color: $textColor;
    transform: translateX(-50%);
    border-radius: $radius $radius 0 0;
    border: 1px solid #fff;
    border-bottom: none;

    @include respond-to(sm) {
      padding: $gap 2 * $gap;
    }
  }
}
