.page-menu__overlay {
  background-color: rgba(51, 51, 51, 0.8);
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include transition-03;
  opacity: 0;
  visibility: hidden;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    z-index: 90;
  }
}

.page-menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $blueColor;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  @include translateX(100%);
  @include transition-custom();
  &.is-active {
    z-index: 100;
    opacity: 1;
    visibility: visible;
    @include translateX(0);
  }

  @include respond-to(md) {
    width: auto;
    left: auto;
    padding: 54px 85px 45px 74px;
  }
}

.page-menu__inner {
  height: 100%;
  @include display-flex;
  @include flex-direction-col;
}

.page-menu__header {
  @include display-flex;
  @include jc-flex-end;
  @include ai-flex-center;
  @include flex-order(0);
  border-bottom: 2px solid #fff;
  width: 100%;
  @include box-shadow;
  padding: 15px 20px;

  .header__hamburger {
    @include square(53px);
    margin-left: auto;
    background-color: #fff;
    .icon{
      color: $blueColor;
    }
  }

  @include respond-to(md) {
    border-bottom: 0;
    margin-bottom: calc(64px - 6px); ///2 * $gap;
    height: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;

    .header__hamburger {
      @include square(63px);
      margin-left: 7px;
      background-color: $blueColor;
      .icon{
        color: #fff;
      }
    }
  }
}

.page-nav {
  @include respond-to(md) {
    padding: 0 0 2*$gap 90px;
    padding-bottom: calc(64px - 6px); ///2 * $gap;
  }
}

.page-nav__list {
  @include respond-to(md) {
    text-align: right;
  }
}

.page-nav__list-item {
  font-size: 1.25rem; //25px
  line-height: 1;
  font-weight: 800;
  opacity: 0;
  padding-right: 20px;
  padding-left: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }

  &.is-active{
    .page-nav__list-link{
      &:after{
        opacity: 0;
      }
    }
    .page-nav__list-icon{
      background-image: url("#{$imgUrl}arrow-up-white.png");
    }
  }

  @include respond-to(md) {
    font-size: 1.5rem;
    margin-bottom: 0.5 * $gap;
    font-weight: 600;
    padding-right: 0px;
    padding-left: 0px;
    &--lg {
      font-size: 2rem;
      margin-bottom: $gap;
      font-weight: 800;
    }
  }
}

.page-nav__list-link {
  display: flex;
  align-items: center;
  height: 2 * $gap;
  color: #fff;
  position: relative;
  &:after{
    content: '';
    display: block;
    height: 1px;
    width: calc(100% + 40px);
    position: absolute;
    top: 100%;
    left: -20px;
    -webkit-box-shadow: 1px 4px 6px 1px rgba(26, 25, 26, 0.37);
    box-shadow: 1px 4px 6px 1px rgba(26, 25, 26, 0.37);
    z-index: 1;
    //transition: 0.2s opacity ease 0.4s;
  }

  @include respond-to(md) {
    height: auto;
    display: inline-block;
    &:after{
      display: none;
    }
  }
}

.page-nav__list-icon{
  display: block;
  margin-left: auto;
  @include square(26px);
  background-image: url("#{$imgUrl}arrow-down-white.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 10px 6px;
  background-size: 10px 6px;
  @include box-shadow;
  border-radius: 50%;
  margin-right: 5px;
  @include transition-03;

  @include respond-to(md){
    display: none;
  }
}

.page-menu__book{
  background-color: $yellowColor;
  padding: 20px;
  text-align: center;
  .btn{
    border-radius: $radius--lg;
    color: #333;
  }
}

.page-menu__book-btn{
  height: 2 * $gap;
  min-width: 100%;
  @include respond-to(sm){
    min-width: 332px;
  }
}