.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  @include ai-flex-center;
  @include jc-flex-center;
  border: 2px solid;
  border-radius: 100%;
  &--sm {
    @include square(73px);
    i {
      font-size: 29px;
    }
  }
  &--lg {
    @include square(90px);
  }
  &--baseColor {
    color: $textColor;
    border-color: #fff;
    background-color: $textColorTint;
  }
}

.arrow-slider {
  margin: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: $textColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px auto;
  box-shadow: 2px 2px 4px 0 rgba(#000, 0.2);
  cursor: pointer;

  &--lg {
    width: 90px;
    height: 90px;
    background-color: #fff;
    background-size: 42px auto;
  }

  &--prev {
    background-image: url('../img/arrow-left.png');
  }

  &--next {
    background-image: url('../img/arrow-right.png');
  }

  &--dark {
    &.arrow-slider--prev {
      background-image: url('#{$imgUrl}arrow-left-dark.png');
    }
    &.arrow-slider--next {
      background-image: url('#{$imgUrl}arrow-right-dark.png');
    }
  }
}
