.hootah{
  position: absolute;
  &--sm{
    width: 81px;
  }
  &--sm--long{
    width: 100px;
  }
  &--md{
    width: 142px;
  }
  &--lg{
    width: 330px;
  }
  &--double{
    width: 200px;
  }
  &--right{
    img{
      -webkit-transform: rotate3d(0, 1, 0, 180deg);
      transform: rotate3d(0, 1, 0, 180deg);
    }
  }
  img{
    width: 100%;
  }

  @include respond-to(md){
    &--sm{
      width: 81px;
    }
    &--sm--long{
      width: 117px;
    }
    &--md{
      width: 182px;
    }
    &--lg{
      width: 370px;
    }
    &--double{
      width: 240px;
    }
  }
}
