.how-tab__item--work {
  color: #333;
  p {
    text-align: center;
  }

  @include respond-to(md){
    .how-tab__item-inner {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

.tab-work__title {
  max-width: 660px;
  @include center;
  margin-bottom: 44px;
}

.tab-work__list-item {
  text-align: center;
  padding: 5px 10px 0;

  h2 {
    margin-bottom: 0.5 * $gap;
    font-weight: 800;
  }
  p {
    max-width: 226px;
    @include center;
  }

  @include respond-to(md){
    &:nth-of-type(2){
      border-left: 2px dotted #333;
      border-right: 2px dotted #333;
    }
  }
}

.tab-work__list-num {
  @include square(65px);
  border-radius: 65px;
  background-color: #fff;
  position: relative;
  margin-bottom: 21px;
  @include center();
  @include transition-03;
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    margin: auto;
    display: block;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1;
  }
}

.tab-work__slider{
  display: block;
  width: 100%;
  .slick-arrow{
    @include size(68px, 91px);
    background-color: $yellowColorTint;
    border: 1px solid #fff;
    &.slick-next {
      right: -20px;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      &:after {
        background: url("#{$imgUrl}/arrow-next.png")no-repeat center/ 18px 30px;
      }
    }
    &.slick-prev {
      left: -20px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      &:after {
        background: url("#{$imgUrl}/arrow-prev.png")no-repeat center/ 18px 30px;
      }
    }
  }
}