.tab-directions__map-wrap{
  height: 375px;
  width: 100%;
  overflow: hidden;
  @include display-flex;
  @include ai-flex-center;
  border-radius: $radius;
  @include box-shadow;
  @include respond-to(md){
    height: 440px;
  }
}

.tab-directions__map{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tab-directions__info{
  position: relative;
  padding-bottom: $gap;
  padding-top: 130px;
}

.tab-directions__info-inner{
  position: relative;
  padding: 27px 45px 2*$gap 27px;
  background-color: #f5e3a7;
  border-radius: $radius;
  @include box-shadow;

  h2{
    margin-bottom: 22px;
  }
  @include respond-to(md){
    padding: 27px 45px 64px 20px;
  }
}

.tab-directions__info-btn{
  position: absolute;
  left: 0;
  right: 0;
  bottom: -($gap);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  @include center;
  border-radius: $radius--xl;
}

.tab-directions__info-content{
  margin-bottom: 14px;
  padding-left: 45px;
  position: relative;

  &:last-of-type{
    margin-bottom: 0;
  }
  .icon{
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 29px;
    &-telephone{
      font-size: 25px;
    }
  }
  @include respond-to(lg){
    padding-left: 45px;
  }
}

.tab-direction__helper{
  position: absolute;
  right: 7px;
  bottom: 0;
  width: 200px;
  height: 300px;
  z-index: 1;

  @include respond-to(md){
    right: 19px;
    bottom: 13px;
  }

  @include respond-to(lg){
    right: 7px;
    bottom: 0;
  }
}

.tab-directions__hootah{
  right: -27px;
  top: -32px;
}

.tab-directions__bubble{
  position: absolute;
  right: 56px;
  top: -120px;
  width: 169px;
  height: 144px;
  p{
    width: 87px;
  }
}
