.page-menu__search{
  margin-top: auto;
  width: 100%;
  opacity: 0;
  height: 97px;

  @include respond-to(md){
    height: auto;
  }
}

.menu-search__input-wrap{
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  input{
    padding-right: 60px;
    background-color: #abc6e4;
  }
  @include respond-to(md){
    max-width: 390px;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    input{
      background-color: #fff;
    }
  }
}

.menu-search__submit-btn{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 45px;
  margin: auto;
  display: block;
  background-color: transparent;
  border-radius: 0 !important;
  outline: none !important;
  border: none;
  line-height: 1;
  .icon{
    font-size: 30px;
    color: $textColor;
  }

  @include respond-to(md){
    right: 15px;
  }
}