.page-menu__exhibition{
  position: relative;
  opacity: 0;

  .popup-exhibition__content{
    @include rotate(0);
    width: 100%;
    left: auto;
    border-radius: 0;
    border-color: $textColor;
    padding: 33px 30px 37px 20px;
  }
  .popup-exhibition__content-inner{
    max-width: 50%;
  }
  .popup-exhibition__img{
    display: none;
  }
  .popup-exhibition__link{
    bottom: 0px;
    top: 0;
    right: 20px;
    left: auto;
    margin: auto;
  }

  @include respond-to(md){
    margin-bottom: 90px;
    .popup-exhibition__content{
      @include rotate(0);
      width: 302px;
      left: auto;
      margin-left: auto;
      border-radius: $radius;
      border: 2px solid #fff;
      padding: 22px 30px 2 * $gap 20px;
    }
    .popup-exhibition__content-inner{
      margin-left: auto;
      text-align: right;
      max-width: 175px;
    }
    .popup-exhibition__img{
      @include size(178px, 182px);
      @include display-flex;
      position: absolute;
      top: 36px;
      left: 17px;
    }
    .popup-exhibition__link{
      bottom: -36px;
      right: 18px;
      left: auto;
      top: auto;
      margin: 0;
    }
  }
}
