.speech-bubble {
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  //padding: 20px 48px;
  text-align: center;
  position: absolute;
  @include display-flex;
  @include ai-flex-center;

  &--right {
    background-image: url("#{$imgUrl}bubble-right.png");
    p {
      left: -9px;
    }
  }

  &--left {
    background-image: url("#{$imgUrl}bubble-left.png");
    p {
      right: -5px;
    }
  }
  &--left-wide {
    background-image: url("#{$imgUrl}bubble-left-wide.png");
    p {
      left: 7px;
    }
  }

  p {
    width: 93px;
    @include center;
    text-align: center;
    position: relative;
  }
}
