.worlds-slider {
  margin-bottom: 0;
  margin: 0 -20px;
  @include respond-to(md){
    margin: 0;
  }
}

.worlds-slider__container {
  .slick-list {
    padding: 0;
  }

  .gallery-slider__item {
    max-width: 337px;
    padding: 15px;
  }

  .gallery-slider__img-wrap {
    height: 230px;
  }

  .gallery-slider__item.slick-next {
    transform: translateX(-40%) scale(0.7) rotate(- 3.5deg)
  }

  .gallery-slider__item.slick-prev{
    transform: translate(50%, -10%) scale(0.7) rotate(- 3.5deg)
  }

  @include respond-to(md){
    .gallery-slider__item {
      max-width: 907px;
    }

    .gallery-slider__img-wrap {
      height: 541px;
    }
  }
}

.worlds-slider{
  .arrow-slider{
    display: none !important;
  }

  @include respond-to(md){
    .arrow-slider{
      display: block !important;
      @include box-shadow-btn;
    }
    .arrow-slider--prev{
      left: 7%;
    }
    .arrow-slider--next{
      right: 7%;
    }
  }
  @include respond-to(lg){
    .arrow-slider--prev{
      left: 18%;
    }
    .arrow-slider--next{
      right: 18%;
    }
  }
  @include respond-to(xl){
    .arrow-slider--prev{
      left: 19%;
    }
    .arrow-slider--next{
      right: 19%;
    }
  }
}
