/// Font families
$Domus: 'jaf-domus', sans-serif;
$Comic: 'classic-comic', sans-serif;

/// Base font family
$baseFontFamily: $Domus;

/// Base font size (rem), line height and letter spacing
@mixin font-size($size:20) {
  font-size: $size * 1px;
  font-size: ($size / $baseFontSize) * 1rem;
}

$baseFontSize: 20;
$baseFontSizePixel: $baseFontSize * 1px;

$baseLineHeight: 1.4;
$baseLetterSpacing: 0;

/// Colors
$textColor: #634657 !default;
$bodyBackground: rgba(99, 70, 87, 0.1);

$redColor: #c25c5c;
$yellowColor: #ebc850;
$blueColor: #568cc8;
$blue-greenColor: #4a848f;
$orangeColor: #e87722;
$beigeColor: #e1b88f;
$khakiColor: #84754e;
$blackColor: rgba(0, 0, 0, .8);

/// Opacity percent
$tint: 0.2;

/// Tinted colors
$textColorTint: #e0dadd;
$redColorTint: #f3dede;
$yellowColorTint: #fbf4dc;
$blueColorTint: #dde8f4;
$blue-greenColorTint: #dbe7e9;
$orangeColorTint: #fae4d3;
$beigeColorTint: #f9f1e9;
$khakiColorTint: #e7e3dc;

/// Rotation angle
$angle: 135deg;

/// spacing gap
$gap: 32px;

/// mobile padding left
$gap-mob: 15px;

///  border radius
$radius: 25px;

/// Container's maximum width
/// @type Length
$max-width: 1255px !default;  //1215 + 20px + 20px

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
        'xs': screen and (min-width: 572px),
        'sm': screen and (min-width: 768px),
        'md': screen and (min-width: 1024px),
        'lg': screen and (min-width: 1280px),
        'xl': screen and (min-width: 1440px),
        'xxl': screen and (min-width: 1920px)
) !default;

/// defaul images and fonts location
$fontsUrl: "../fonts/";
$imgUrl: "../img/";